# Virtual Environment
venv/
env/

# Instance folder
instance/

# Python
*.pyc
__pycache__/
.pytest_cache/

# Environment variables
.env
.env.*

# Application specific
*.pdf
.DS_Store
logs/
*.log

# IDE specific
.vscode/
.idea/
*.swp